html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}
input[type="checkbox"] {margin: 0}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}
body {
    font: 12px Arial, sans-serif;
    background-color: #afbec8;
}
h1 {
    font-size: 18px;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
}
.player {
    width: 660px;
    margin: 0 auto;
    height: 430px;
}
.player .header{
    border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    background-color: #c6d9e3;
    padding: 10px;
}
.player .line{
    background-color: #4f6771;
    height: 50px;
    display: none;
}
.player .footer{
    height: 114px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    display: none;
}
.player .footer .buttons{
    padding: 10px;
}
.player .header .choose{
    font-size: 16px;
    color: #294452;
    width: 100%;
    display: block;
    height: 50px;
    text-align: center;
    padding-top: 35px;
    border: 1px solid transparent;
}

.player .header .choose:hover{
    border: 1px dashed #294452;
}

.player .header .choose .file{
    display: none;
}
.player .header .choose .button{
    cursor: pointer;
    text-decoration: underline;
}
.player .playlist{
    background-color: #58B7DE;
    padding: 20px;
    display: none;
    line-height: 23px;
}
.player .playlist:after{
    content: '';
    clear: both;
    display: block;
}

.player .playlist span{
    display: block;
    float: left;
    padding-right: 30px;
    padding-left: 25px;
    color: #FFFFFF;
}

.player .playlist span.name:before{
    content: 'Проигрывается файл:';
    color: #405869;
    padding-right: 10px;
    text-decoration: underline;
}
.player .playlist span.title:before{
    content: 'Название:';
    color: #405869;
    padding-right: 10px;
    text-decoration: underline;
}
.player .playlist span.artist:before{
    content: 'Исполнитель:';
    padding-right: 10px;
    color: #405869;
    text-decoration: underline;
}

.player .header .drop {
    border: 1px dashed #294452;
}
.player .header .loading{
    position: relative;
}
.player .header .loading:after{
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    top: 25px;
    left: 280px;
    background: url("../img/load.gif") no-repeat;
}